@import './variables.scss';

@mixin for-phone-only {
  @media (min-width: 360px) {
    @content;
  }
}

@mixin for-tablet-up {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin font($fw: 400, $fs: 16px, $lh: 1.2, $color: $font-color, $ls: normal) {
  font-family: 'Open Sans';
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  color: $color;
  letter-spacing: $ls;
}
